# General
.DS_Store
*.log
*.swp
*.swo

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Node
node_modules/

# Firebase
.firebase/

# Build and Temp
setup.log
setup2.log
setup.bat
build/
.dart_tool/

# Secrets
.env
.env.*
service-account.json
google-services.json
GoogleService-Info.plist
firebase_options.dart
