# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Node
node_modules/
npm-debug.log

# Build
lib/
*.tsbuildinfo

# Secret keys (should be in env or config)
.env
.env.*
service-account.json
